<h1>Test</h1>

<div class="container">
  <div class="row">
      <div class="col s6 m6">
        <% @user_dcd.each do |dcd| %> 
          <div class="card">
            <div class="card-image">
              <%= image_tag(dcd.picture, width: 200) if dcd.picture.attached? %>
            </div>
            <div class="card-action">
            <%= link_to dcd.full_name, dcd_path(dcd)=%>
          </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div> 