<center><h1>Welcome To RiPNote</h1>

<p>We're very sorry for your loss, but we hope that you can find some solace in celebrating the life of your loved one here.</p>


<p>"Some day soon, perhaps in forty years, there will be no one alive who has ever known me. That's when I will be truly dead - when I exist in no one's memory."  ― Irvin D. Yalom, Love's Executioner and Other Tales of Psychotherapy </p></center>